* { box-sizing: border-box; }
html, body, #root, .App {
  height: 100%;
}

.bar-1,
.bar-2,
.bar-3 {
  animation-name: animate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bar-2 {
  animation-delay: 0.2s;
}
.bar-3 {
  animation-delay: 0.3s;
}

@keyframes animate {
  from {
    height: 0rem;
    opacity: 0;
  }
  to {
    height: 2.5rem;
    opacity: 1;
  }
}
